# Environment
/.env*

# Logs and temp
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Storage (uploads)
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Editor and system files
.vscode/
.DS_Store
.byebug_history
*.swp
*.swo

# Deployment / Docker tools
.kamal/

# Frontend dependencies and builds
/frontend/node_modules/ /frontend/dist/ /frontend/.vite/ /frontend/yarn.lock /frontend/package-lock.json

# Ignore master key if not sharing
/config/master.key
